/* bootstrap override */
.navbar {
	background-image: linear-gradient(to right, theme-color("dark"), theme-color("primary"));
	box-shadow: $box-shadow-mid;

	.navbar-toggler {
		border-width: 2px;
	}
	.navbar-toggler:focus {
		border-color: $navbar-dark-color;
	}
	.btn-dark {
		background-color: rgba($black, .24);
		border: none;
		box-shadow: none;
		@include hover-focus {
			background-color: rgba($black, 0.35);
		}
	}
	hr {
		border-color: transparentize($navbar-dark-color, 0.3);
	}
}

.container {
	@include media-breakpoint-up("lg") {
			max-width: map-get($container-max-widths, "lg");
	}
	@include media-breakpoint-down("sm") {
		padding-left: map-get($spacers, 4);
		padding-right: map-get($spacers, 4);
	}
}

.modal {
	.modal-content {
		box-shadow: 0 10px 70px rgba($black, 0.4);
	}
	.modal-header {
		cursor: default;
	}
}

.btn {
	@extend .text-uppercase;
}

/* others */

* {
	outline: none !important;
}

body {
	padding-top: $fixed-navbar-padding;
	background-color: $body-bg-color;
}

h1 {
	@extend .mb-3;
}

hr {
	border-color: mix($gray-400, $gray-500);
}
.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.pos-rel {
	position: relative;
}
.fab {
	cursor: pointer;
	display: block;
	border-radius: 50%;
	background-color: theme-color("primary");
	box-shadow: $box-shadow-mid;
	border: none;
	@include hover-focus {
		background-color: theme-color("dark");
	}

	width: 44px !important;
	height: 44px !important;

	&.align-right {
		position: absolute;
		right: 0;
		top: calc(50% - 22px);
	}
	@include media-breakpoint-down("md") {
		width: 34px !important;
		height: 34px !important;
		&.align-right {
			position: absolute;
			right: 0;
			top: calc(50% - 17px);
		}
	}
}

.page-title {
	@extend .h1;
	@extend .pb-2;
	@include media-breakpoint-down("md") {
		font-size: $h2-font-size;
		padding-bottom: 0 !important;
	}
	@include media-breakpoint-down("sm") {
		font-size: $h4-font-size;
	}
}
