/* bootstrap override */
.navbar {
	background-image: linear-gradient(to right, theme-color("dark"), theme-color("primary"));
	box-shadow: $box-shadow-mid;

	.navbar-toggler {
		border-width: 2px;
	}
	.navbar-toggler:focus {
		border-color: $navbar-dark-color;
	}
	.btn-dark {
		background-color: rgba($black, .24);
		border: none;
		box-shadow: none;
		@include hover-focus {
			background-color: rgba($black, 0.35);
		}
	}
	hr {
		border-color: transparentize($navbar-dark-color, 0.3);
	}
}

@media (min-width: map-get($grid-breakpoints, "lg")) {
	.container {
		max-width: map-get($container-max-widths, "lg");
	}
}

.modal .modal-header {
	cursor: default;
}

/* others */

* {
	outline: none !important;
}

body {
	padding-top: $fixed-navbar-padding;
	background-color: $body-bg-color;
}

h1 {
	@extend .mb-3;
}

hr {
	border-color: mix($gray-400, $gray-500);
}

.fab {
	cursor: pointer;
	display: block;
	border-radius: 50%;
	background-color: theme-color("primary");
	padding: 10px;
	box-shadow: $box-shadow-mid;
	@extend .btn;
	border: none;
	@include hover-focus {
		background-color: theme-color("dark");
	}
}
